
    <link rel=stylesheet href="./styles.css" />
  <h1>This is Ryan's awesome website!</h1>
       <div>
        <style type="text/css">
          body {background-color: black;}
    
          <style type="text/css">            
   h1 {color: greenyellow;}
                    </style>           
    
                    <style type="text/css">            
                    h2 {color: greenyellow;}
                              </style>                   
    
             <div align="center">
            <style type="text/css">           
    h2 {color: greenyellow;}
            </style>            
        
              <style type="text/css">            
        h3 {color: greenyellow;}
              </style>
              
                <style type="text/css">              
            h4 {color: greenyellow;}
                </style>
                            
                <style type="text/css">
                    body {
                      background-color: black;}
    ul {color: red;}
                  </style>
               
        